.k-block-type-button button {
	background-color: var(--color-gray-300);
	border-radius:var(--rounded-md);
	cursor: pointer;
	display: inline-flex;
	font-size: var(--text-sm);
	font-weight: var(--font-semi);
	height: var(--height-lg);
	padding: 11px 12px 0;
	text-transform: uppercase;
}

.k-block-type-button button:empty::after {
	color: var(--color-gray-600);
	content: "Button textâ€¦";
}

.k-block-type-button button:focus {
	border-color: var(--color-focus);
	outline: 0;
}
